<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="DataSource.default" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		 <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		 <property name="password" value="APP_LXS"/> 
		 <property name="username" value="app_lxs"/> 
		 <property name="url" value="jdbc:oracle:thin:@//192.168.11.14:1521/public"/> 
	</bean>

	<bean id="HibernateConfig.default">
		<property name="properties">
			<props merge="true">
				 <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.default_batch_fetch_size">800</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
</beans>