html, body {
	width : 100%; height : 100%
}
body {
	background-color :  #0A96E1;
	background-image :  -moz-radial-gradient(center, ellipse closest-corner, #29C4FD 20%, #0F6CB1 100%);
	background-image :  -webkit-radial-gradient(center, ellipse closest-side, #29C4FD 30%, #0F6CB1 100%);
	background-image :  -ms-radial-gradient(center, ellipse closest-side, #29C4FD 20%, #0F6CB1 100%);
	background-image :  -o-radial-gradient(center, ellipse closest-side, #29C4FD 20%, #0F6CB1 100%);
}
.logindiv {
	z-index : 1;
	width : 800px;
	height : 360px;
	display : block;
	position : absolute;
	left : 50%;
	top : 50%;	
	margin-left : -400px;
	margin-top : -180px;
	border : 1px #106EB6 solid;
	text-align : center;
	background-color : #FFFFFF;
  	background-image: -webkit-gradient(linear, top, bottom, from(#D1E3ED), to(#FFFFFF));
  	background-image: -webkit-linear-gradient(top, #D1E3ED 0%, #FFFFFF 20%);
  	background-image:    -moz-linear-gradient(top, #D1E3ED 0%, #FFFFFF 20%);   
  	background-image:     -ms-linear-gradient(top, #D1E3ED 0%, #FFFFFF 20%);   
  	background-image:      -o-linear-gradient(top, #D1E3ED 0%, #FFFFFF 20%);   
  	background-image:         linear-gradient(to bottom, #D1E3ED 0%, #FFFFFF 20%);
}
.blue-button {
	background: url("../images/button.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 70px;
    margin-left : 7px;
    margin-right : 7px;
}
.logindiv h1 {
	color : #074B7C;
	font-weight : bold;
	font-size : 20pt;
	margin-top : 5%;
}
.logindiv .logintable {
	position : absolute;
	width : 220px;
	height : 164px;
	right : 20px;
	top : 50%;
	margin-top : -82px;
	border : 1px #7DC4DB solid;
	-webkit-border-radius : 5px;
	   -moz-border-radius : 5px;
	    -ms-border-radius : 5px;
	     -o-border-radius : 5px;
	        border-radius : 5px;
	background : url("../images/dotdotdot.png") repeat-x scroll 0 0 transparent;
}
.logindiv .bulletin {
	position : absolute;
	width : 525px;
	height : 234px;
	left : 20px;
	top : 50%;
	margin-top : -82px;
	border : 1px #7DC4DB solid;
	-webkit-border-radius : 5px;
	   -moz-border-radius : 5px;
	    -ms-border-radius : 5px;
	     -o-border-radius : 5px;
	        border-radius : 5px;
    background : url("../images/dotdotdot.png") repeat-x scroll 0 0 transparent;
}
.bulletin td   	{ text-align:left;vertical-align:top; }
.bulletin a 	{ text-decoration:underline;cursor:pointer;color:black; }
.bulletin a:hover 	{ color:red; }
.bulletin ul 	{ list-style-image:url('../images/list-square.png'); }
.bulletin li 	{ line-height: 1.8em; }

.logindiv .footage {
	position : absolute;
	right : 20px;
	bottom : 30px;
	margin-top : -82px;
	border : 0px #7DC4DB solid;
}
.footage a 	{ text-decoration:none;cursor:pointer; color:black; }
.footage a:hover 	{ color:red; }

.foot {
	z-index : 0;
	display : block;
	position : absolute;
	width : 100%;
	height : 30%;
	bottom : 0px;
	background-image: -webkit-gradient(linear, top, bottom, from(#054E81), to(#0D5D9A));
  	background-image: -webkit-linear-gradient(top, #054E81 0%, #0D5D9A 20%);
  	background-image:    -moz-linear-gradient(top, #054E81 0%, #0D5D9A 20%);   
  	background-image:     -ms-linear-gradient(top, #054E81 0%, #0D5D9A 20%);   
  	background-image:      -o-linear-gradient(top, #054E81 0%, #0D5D9A 20%);   
  	background-image:         linear-gradient(to bottom, #054E81 0%, #0D5D9A 20%);
}
.logintable input[type=text],input[type=password] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.logintable tr td:nth-child(1) {
	width : 70px;
	text-align: right;
}
.logintable tr td:nth-child(2) {
	text-align : left;
}
.logintable tr td:nth-child(3) {
	width : 60px;
	text-align: center;
	vertical-align: middle;
}
.logintable tr:nth-last-child(2) td {
	text-align: center;
}
.logintable tr:nth-last-child(1) td {
	text-align: center;
}
/* For browser hint */
.browser-hint {
    display : none;
	z-index : 2;
           width : 500px;
          height : 95px;
	    position : absolute;
	         top : 0px;
	        left : 50%;
	 margin-left : -250px;
	  text-align : center;
background-color : #FEF9D0;
}
.browser-hint h2 {
	font-size : 12px;
}
.browser-hint ul {
	padding : 0px 20px;
	/* IE7 hack, otherwise ul will left space on left */
	margin : 0px;
}
.browser-hint li {
	height : 60px;
	width  : 60px;
	text-align : center;
    list-style: none outside none;
    float: left;
	margin  : 0px 46px;
}
.browser-hint li a {
	display : block;
	height  : 60px;
	width   : 60px;
}
.chrome {
	background : url("../images/browsers/chrome-60x60.png") no-repeat scroll 0 0 transparent;
}
.firefox {
	background : url("../images/browsers/firefox-60x60.png") no-repeat scroll 0 0 transparent;
}
.iexplorer {
	background : url("../images/browsers/ie-60x60.png") no-repeat scroll 0 0 transparent;
}
.ie6 .browser-hint {
      display: block;
}
.ie7 .browser-hint {
      display: block;
}
.banner1 {
	position : absolute;
	top : 15px;
	left : 22px;
	width : 301px;
	height : 65px;
/*	background : url("../images/banner1.png") no-repeat scroll 0 0 transparent;*/
}
.banner2 {
	position : absolute;
	top : 33px;
	right : 45px;
	width : 182px;
	height : 35px;
	background : url("../images/banner2.png") no-repeat scroll 0 0 transparent;
}
.mailto { text-decoration: none !important;}
